a:hover {
    color: #34b3a0 !important;
}

.post-list a {
    color: #454545 !important;
}

.post-list a:hover {
    color: #34b3a0 !important;
}

.post-content a {
    color: #34b3a0;
}

.username {
    color: #454545;
}

.contact-list a {
    color: #454545;
}

.contact-list a:hover {
    color: #34b3a0 !important;
}

.rss-subscribe a {
    color: #34b3a0;
}
