.site-title,
.page-link,
.footer-col-wrapper,
.wrapper,
.post-header,
.post-content {
    font-family: Raleway;
}

.round_border {
    border-radius: 50%;
}

.headshot_smaller {
    width: 7em;
    margin-right: 2em;
}

.icon {
    width: 1em;
}

#contact_list a {
    color: black;
} 

#contact_list ul li {
    list-style-type: none;
    border-bottom: 0.5em solid;
    border-color: #ffffff;
    align-items: center;
    line-height: 1.5em;
}

.footer-col-2 .username:hover{
    color: #34b3a0;
}
